body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Navbar
.navbar{
  background-color: #DC7633 !important;
}

.navbar-brand{
  color: #1A5276 !important;
}

.navbar-nav{
  margin-left: auto !important;
}
*/

.container{
  align-items: center;
  margin-top: 50px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}